{"openapi":"3.0.3","info":{"title":"Brainfish Public API","description":"The Brainfish API is organized around REST. Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.\n\nUse the Brainfish API to programmatically manage your knowledge base, generate AI-powered answers, and integrate Brainfish capabilities into your applications.\n\n---\n\n## Just Getting Started?\n\nCheck out our [Help documentation](https://help.brainfi.sh) for guides and tutorials.\n\n---\n\n## Base URL\n\n```\nhttps://api.brainfi.sh\n```\n\nAll API requests must be made over HTTPS. Calls made over plain HTTP will fail.\n\n---\n\n## Authentication\n\nThe Brainfish API uses API tokens to authenticate requests. You can view and manage your API tokens in your [Brainfish Dashboard](https://app.brainfi.sh) under **Settings → API Tokens**.\n\nAPI tokens have the prefix `bf_api_`. Your API tokens carry many privileges, so be sure to keep them secure! Do not share your API tokens in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must include authentication. Requests without authentication will fail.\n\n| Header | Description |\n|--------|-------------|\n| `Authorization` | Bearer token authentication: `Bearer bf_api_xxxxx` |\n| `agent-key` | Required for AI Agent endpoints only. Find this in your Agents page. |\n\n**Example: Authenticated Request**\n\n```bash\ncurl https://api.brainfi.sh/v1/auth/validate \\\n  -X POST \\\n  -H \"Authorization: Bearer bf_api_xxxxx\" \\\n  -H \"Content-Type: application/json\"\n```\n\n---\n\n## Errors\n\nBrainfish uses conventional HTTP response codes to indicate the success or failure of an API request.\n\n| Code | Description |\n|------|-------------|\n| `2xx` | Success — The request was successful. |\n| `4xx` | Client Error — The request failed due to client-side issues (e.g., missing required parameter, invalid authentication, resource not found). |\n| `5xx` | Server Error — Something went wrong on Brainfish's servers (these are rare). |\n\n**Error Response Format**\n\n```json\n{\n  \"error\": \"validation_failed\",\n  \"message\": \"Request validation failed\",\n  \"validationErrors\": [\n    {\n      \"field\": \"query\",\n      \"message\": \"Query cannot be empty\",\n      \"code\": \"invalid_string\"\n    }\n  ],\n  \"timestamp\": \"2024-01-15T10:30:00Z\",\n  \"requestId\": \"req-abc123\"\n}\n```\n\nThe `requestId` can be provided to Brainfish support when troubleshooting issues.\n\n---\n\n## Rate Limiting\n\nThe API implements rate limiting to ensure fair usage and system stability.\n\n| Endpoint Type | Limit |\n|---------------|-------|\n| Most endpoints | 25 requests per minute |\n| Token revocation | 10 requests per hour |\n\nWhen you exceed the rate limit, the API returns a `429 Too Many Requests` response with headers indicating when you can retry:\n\n- `X-RateLimit-Limit`: Maximum requests allowed in the window\n- `X-RateLimit-Remaining`: Remaining requests in current window\n- `X-RateLimit-Reset`: Unix timestamp when the rate limit resets\n\n---\n\n## Available Resources\n\n| Resource | Description |\n|----------|-------------|\n| **Authentication** | Validate and revoke API tokens |\n| **AI Agents** | Generate streaming AI-powered answers from your knowledge base |\n| **Analytics** | Query conversation thread analytics with filtering and pagination |\n| **Conversations** | Generate follow-up questions for conversations |\n| **Collections** | Organize documents into collections |\n| **Catalogs** | Create catalogs and sync content via API |\n| **Documents** | Create, read, update, and delete documents |\n\n---\n\n## Quick Start\n\n**1. Create an API token** in your Brainfish dashboard under Settings → API Tokens.\n\n**2. Validate your token** to ensure it's working:\n\n```bash\ncurl https://api.brainfi.sh/v1/auth/validate \\\n  -X POST \\\n  -H \"Authorization: Bearer bf_api_xxxxx\" \\\n  -H \"Content-Type: application/json\"\n```\n\n**3. For AI endpoints**, get your agent key from the Agents page.\n\n**4. Generate an AI answer**:\n\n```bash\ncurl https://api.brainfi.sh/v1/agents/answer \\\n  -X POST \\\n  -H \"Authorization: Bearer bf_api_xxxxx\" \\\n  -H \"agent-key: your-agent-key\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"query\": \"How do I reset my password?\"}'\n```\n\n---\n\n## Pagination\n\nList endpoints support pagination using `limit` and `offset` parameters:\n\n| Parameter | Description | Default |\n|-----------|-------------|---------|\n| `limit` | Maximum number of results to return (1-100) | 25 |\n| `offset` | Number of results to skip | 0 |\n\nPaginated responses include a `pagination` object:\n\n```json\n{\n  \"data\": [...],\n  \"pagination\": {\n    \"offset\": 0,\n    \"limit\": 25,\n    \"total\": 42\n  }\n}\n```\n","version":"1.0.0","contact":{"name":"Brainfish API Support","email":"support@brainfish.ai","url":"https://help.brainfi.sh/articles/api-reference-7mjzVCAmeM"},"license":{"name":"Proprietary"}},"servers":[{"url":"https://api.brainfi.sh","description":"Production server"}],"paths":{"/v1/auth/validate":{"post":{"summary":"Validate access token","description":"Validate an access token and return user information. This endpoint is useful for testing authentication setup and verifying token validity.\n\nOnly requires the access token header - no agent key needed.\n","operationId":"validateToken","tags":["Authentication"],"security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Token is valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenValidationResponse"},"example":{"valid":true,"user":{"id":"user-123","name":"John Doe","email":"john@example.com","teamId":"team-456","teamName":"Acme Corp"},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/auth/revoke":{"post":{"summary":"Revoke access token","description":"Revoke the access token used to authenticate this request. Once revoked, the token will no longer be valid for API calls.\n\n**Warning**: This action cannot be undone. You will need to create a new access token to continue using the API.\n","operationId":"revokeToken","tags":["Authentication"],"security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Token successfully revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRevokeResponse"},"example":{"success":true,"message":"Access token has been revoked successfully","timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"not_found","message":"API key not found","timestamp":"2024-01-15T10:30:00Z"}}}},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/agents/answer":{"post":{"summary":"Generate streaming answer","description":"Generate streaming answers for queries using AI agents. This endpoint provides real-time\nstreaming responses for question answering with optional user personalization.\n\nSimply provide a query string and optionally a `filter.collectionIds` array to get an AI-generated answer.\nWhen `filter.collectionIds` is provided, those collections are included in the search scope, along with\nany widget-based personalization collections when applicable. Otherwise, the endpoint uses the default\nanswer flow. The response is streamed using Server-Sent Events (SSE) format, allowing clients to receive\npartial results as they are generated.\n\n## Personalization\n\nPass the optional `user` object to enable personalized answers. When provided, the external\nuser record is upserted and their attributes are used to filter knowledge base collections\nand tailor responses. At least one of `userId`, `email`, or `phone` is required within the\n`user` object.\n\n## Streaming vs Non-Streaming\n\nSet `stream` to `false` to receive the full answer as a single JSON response instead of SSE\nevents. Defaults to `true`.\n\n## Streaming Example\n\n```javascript\nconst response = await fetch('https://api.brainfi.sh/v1/agents/answer', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer bf_api_xxxxx',\n    'agent-key': 'your-agent-key'\n  },\n  body: JSON.stringify({\n    query: 'How do I reset my password?',\n    user: { email: 'jane@example.com', properties: { plan: 'enterprise' } }\n  })\n});\n\nconst reader = response.body.getReader();\nconst decoder = new TextDecoder();\n\nwhile (true) {\n  const { done, value } = await reader.read();\n  if (done) break;\n\n  const chunk = decoder.decode(value);\n  const lines = chunk.split('\\n');\n\n  for (const line of lines) {\n    if (line.startsWith('data: ')) {\n      const event = JSON.parse(line.slice(6));\n\n      switch (event.type) {\n        case 'start':\n          console.log('Answer started:', event.id);\n          break;\n        case 'progress':\n          console.log('Progress:', event.content);\n          break;\n        case 'content':\n          console.log('Content chunk:', event.content);\n          break;\n        case 'end':\n          console.log('Answer completed:', event.conversationId);\n          break;\n      }\n    }\n  }\n}\n```\n","operationId":"generateAnswer","tags":["Agents"],"security":[{"BearerAuth":[],"AgentKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnswerRequest"},"examples":{"simpleQuery":{"summary":"Simple question","value":{"query":"How to reset my password?"}},"followupQuery":{"summary":"Follow-up question with conversation context","value":{"query":"What if I forgot my email too?","conversationId":"01234567890123456789012345"}},"withPersonalization":{"summary":"Personalized answer with user attributes","value":{"query":"What features are available on my plan?","user":{"email":"john@acme.com","properties":{"plan":"enterprise","region":"us-east"}}}},"withCollectionFilter":{"summary":"Answer scoped to selected collections","value":{"query":"How do I reset my password?","filter":{"collectionIds":["collection-uuid-1"]}}},"nonStreaming":{"summary":"Non-streaming response","value":{"query":"What are the pricing plans available?","stream":false}}}}}},"responses":{"200":{"description":"Streaming response with answer generation events","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-sent events stream containing answer generation progress"},"examples":{"streamingResponse":{"summary":"Example streaming response for password reset query","value":"data: {\"type\":\"start\",\"id\":\"answer-abc123\",\"conversationId\":\"01234567890123456789012345\"}\n\ndata: {\"type\":\"progress\",\"content\":\"Searching knowledge base for password reset information...\"}\n\ndata: {\"type\":\"content\",\"content\":\"To reset your password:\\n\\n1. Go to the login page at\"}\n\ndata: {\"type\":\"content\",\"content\":\" https://app.brainfi.sh/login\\n2. Click the \\\"Forgot Password?\\\" link\"}\n\ndata: {\"type\":\"content\",\"content\":\"\\n3. Enter your email address\\n4. Check your email for reset instructions\"}\n\ndata: {\"type\":\"content\",\"content\":\"\\n\\nIf you don't receive the email within 5 minutes, check your spam folder or contact support.\"}\n\ndata: {\"type\":\"end\",\"id\":\"answer-abc123\",\"conversationId\":\"01234567890123456789012345\",\"complete\":true}\n"},"shortResponse":{"summary":"Example streaming response for simple query","value":"data: {\"type\":\"start\",\"id\":\"answer-def456\"}\n\ndata: {\"type\":\"content\",\"content\":\"Our pricing plans include:\\n\\n**Starter**: $29/month - Up to 1,000 queries\\n**Professional**: $99/month - Up to 10,000 queries\\n**Enterprise**: Custom pricing - Unlimited queries\\n\\nAll plans include 24/7 support and API access.\"}\n\ndata: {\"type\":\"end\",\"id\":\"answer-def456\",\"complete\":true}\n"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/catalogs":{"get":{"summary":"List catalogs","description":"List all catalogs for the authenticated user's team. Supports filtering by source type and status, with pagination.\n","operationId":"listCatalogs","tags":["Catalogs"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"source","in":"query","description":"Filter by catalog source type","schema":{"type":"string","enum":["cms","website","zendesk","github","discovery","helpscout","readme","readmev2","oas","notion","intercom","freshdesk","helpjuice","googledrive","confluence","guru","external"]}},{"name":"status","in":"query","description":"Filter by catalog status","schema":{"type":"string","enum":["inprogress","completed","failed"]}},{"name":"limit","in":"query","description":"Maximum number of results to return (1-100)","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"offset","in":"query","description":"Offset for pagination","schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"List of catalogs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogListResponse"},"example":{"data":[{"id":"cat-123","name":"Developer Docs","source":"external","status":"completed","enabled":true,"contentCount":42,"createdAt":"2024-01-10T08:00:00Z","updatedAt":"2024-01-15T10:30:00Z"}],"pagination":{"offset":0,"limit":25,"total":3},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"post":{"summary":"Create catalog","description":"Create a new catalog. A catalog is a container for content that can be synced via the API.\n\nAfter creating a catalog, use the sync endpoint (`POST /v1/catalogs/{id}/content`) to push content into it.\n","operationId":"createCatalog","tags":["Catalogs"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCatalogRequest"},"examples":{"externalCatalog":{"summary":"Create an external catalog","value":{"name":"Developer Documentation","source":"external","slug":"dev-docs"}},"customConfig":{"summary":"Create catalog with custom configuration","value":{"name":"Internal Wiki","source":"external","slug":"internal-wiki","configurations":{"repo":"acme/docs","branch":"main"}}}}}}},"responses":{"200":{"description":"Catalog created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogResponse"},"example":{"data":{"id":"cat-123","name":"Developer Documentation","source":"external","status":"inprogress","enabled":true,"createdAt":"2024-01-15T10:30:00Z","updatedAt":"2024-01-15T10:30:00Z"},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/catalogs/{id}":{"get":{"summary":"Get catalog","description":"Retrieve a catalog by its ID, including a count of content entries.\n","operationId":"getCatalog","tags":["Catalogs"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Catalog ID (UUID)","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Catalog details with content count","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogDetailResponse"},"example":{"data":{"id":"cat-123","name":"Developer Documentation","source":"external","status":"completed","enabled":true,"contentCount":42,"createdAt":"2024-01-10T08:00:00Z","updatedAt":"2024-01-15T10:30:00Z"},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/catalogs/{id}/content":{"post":{"summary":"Sync content to catalog","description":"Sync content files to a catalog. This performs a **full sync**:\n\n- **New files** are created as catalog content entries\n- **Changed files** (different content or title) are updated\n- **Missing files** (present in catalog but not in request) are removed\n\nEach file is identified by its `url`, which acts as a unique key within the catalog.\n\nThis endpoint is designed for large documentation sets (1000+ files) and uses batched database operations for performance.\n","operationId":"syncCatalogContent","tags":["Catalogs"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Catalog ID (UUID)","schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncCatalogContentRequest"},"examples":{"simpleSync":{"summary":"Sync markdown documentation","value":{"files":[{"url":"https://docs.acme.com/getting-started","content":"# Getting Started\n\nWelcome to our docs...","title":"Getting Started"},{"url":"https://docs.acme.com/guides/authentication","content":"# Authentication\n\nLearn how to authenticate...","title":"Authentication"},{"url":"https://docs.acme.com/api/endpoints","content":"# API Endpoints\n\nAvailable endpoints...","title":"API Endpoints"}]}}}}}},"responses":{"200":{"description":"Content synced successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncCatalogContentResponse"},"example":{"data":{"id":"cat-123","name":"Developer Documentation","source":"external","status":"completed","contentCount":3,"created":2,"updated":1,"removed":0},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/collections":{"get":{"summary":"List collections","description":"List all collections the authenticated user has access to.\n","operationId":"listCollections","tags":["Collections"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sortBy","in":"query","description":"Field to sort by","schema":{"type":"string","enum":["updatedAt","index","name"],"default":"updatedAt"}},{"name":"direction","in":"query","description":"Sort direction","schema":{"type":"string","enum":["ASC","DESC"],"default":"DESC"}},{"name":"limit","in":"query","description":"Maximum number of results to return (1-100)","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"offset","in":"query","description":"Offset for pagination","schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"List of collections","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionListResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"post":{"summary":"Create collection","description":"Create a new collection.\n","operationId":"createCollection","tags":["Collections"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollectionRequest"},"examples":{"simpleCollection":{"summary":"Create a simple collection","value":{"name":"Knowledge Base","description":"Company knowledge base articles","color":"#4E5C6E"}},"publicCollection":{"summary":"Create a public collection","value":{"name":"Help Center","description":"Public help documentation","siteEnabled":true,"sharing":true}}}}}},"responses":{"200":{"description":"Collection created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/collections/{id}":{"get":{"summary":"Get collection","description":"Retrieve a collection by its ID.\n","operationId":"getCollection","tags":["Collections"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Collection ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Collection details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"put":{"summary":"Update collection","description":"Update an existing collection. Only provided fields will be updated.\n","operationId":"updateCollection","tags":["Collections"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Collection ID","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCollectionRequest"},"examples":{"updateName":{"summary":"Update collection name","value":{"name":"Updated Knowledge Base"}},"updateVisibility":{"summary":"Make collection public","value":{"siteEnabled":true}}}}}},"responses":{"200":{"description":"Collection updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"delete":{"summary":"Delete collection","description":"Delete a collection. This will also delete all documents within the collection.\nCannot delete the last collection in a team.\n","operationId":"deleteCollection","tags":["Collections"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Collection ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Collection deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCollectionResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"description":"Cannot delete the last collection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/documents":{"get":{"summary":"List documents","description":"List documents with optional filtering and pagination. Returns documents the authenticated user has access to.\n","operationId":"listDocuments","tags":["Documents"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"collectionId","in":"query","description":"Filter by collection ID","schema":{"type":"string","format":"uuid"}},{"name":"parentDocumentId","in":"query","description":"Filter by parent document ID. Use 'null' to get root-level documents.","schema":{"type":"string","format":"uuid","nullable":true}},{"name":"template","in":"query","description":"Filter by template status","schema":{"type":"boolean"}},{"name":"sort","in":"query","description":"Field to sort by","schema":{"type":"string","enum":["createdAt","updatedAt","publishedAt","title"],"default":"updatedAt"}},{"name":"direction","in":"query","description":"Sort direction","schema":{"type":"string","enum":["ASC","DESC"],"default":"DESC"}},{"name":"limit","in":"query","description":"Maximum number of results to return (1-100)","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"name":"offset","in":"query","description":"Offset for pagination","schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"List of documents","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentListResponse"},"example":{"data":[{"id":"30ba6c51-5f9d-4d8d-be10-783f7af1c9af","url":"/doc/getting-started-guide-fKhbRGBXj6","urlId":"fKhbRGBXj6","title":"Getting Started Guide","summary":"This guide helps you get started with the platform...","tasks":{"completed":0,"total":0},"index":"P0","createdAt":"2024-01-10T08:00:00Z","createdBy":"user-123","updatedAt":"2024-01-15T10:30:00Z","updatedBy":"user-123","publishedAt":"2024-01-15T10:30:00Z","archivedAt":null,"deletedAt":null,"teamId":"team-456","collectionId":"col-456","revision":5,"isPublic":true,"hasPendingSuggestion":false}],"pagination":{"offset":0,"limit":25,"total":42},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"post":{"summary":"Create document","description":"Create a new document. You can create a published document or a draft by setting the `publish` flag.\n","operationId":"createDocument","tags":["Documents"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDocumentRequest"},"examples":{"simpleDocument":{"summary":"Create a simple document","value":{"title":"My New Document","text":"# Introduction\n\nThis is the content of my document.","collectionId":"col-456","publish":true}},"draftDocument":{"summary":"Create a draft","value":{"title":"Work in Progress","text":"Draft content here...","collectionId":"col-456","publish":false}},"nestedDocument":{"summary":"Create a nested document","value":{"title":"Sub-article","text":"Content for the sub-article...","collectionId":"col-456","parentDocumentId":"doc-parent-123","publish":true}}}}}},"responses":{"200":{"description":"Document created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"},"example":{"data":{"id":"doc-new-123","title":"My New Document","url":"/doc/my-new-document-xyz789","text":"# Introduction\n\nThis is the content of my document.","collectionId":"col-456","publishedAt":"2024-01-15T10:30:00Z","createdAt":"2024-01-15T10:30:00Z","updatedAt":"2024-01-15T10:30:00Z"},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/documents/{id}":{"get":{"summary":"Get document","description":"Retrieve a document by its ID or URL ID.\n","operationId":"getDocument","tags":["Documents"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Document identifier. Accepts either:\n- UUID format: `123e4567-e89b-12d3-a456-426614174000`\n- URL slug format: `bookings-and-meet-greets-tqQoYObGRP`\n","schema":{"type":"string"},"examples":{"uuid":{"value":"123e4567-e89b-12d3-a456-426614174000","summary":"UUID format"},"urlSlug":{"value":"bookings-and-meet-greets-tqQoYObGRP","summary":"URL slug format"}}}],"responses":{"200":{"description":"Document details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"},"example":{"data":{"id":"doc-123","title":"Getting Started Guide","url":"/doc/getting-started-guide-abc123","text":"# Welcome\n\nThis guide helps you get started...","collectionId":"col-456","publishedAt":"2024-01-15T10:30:00Z","createdAt":"2024-01-10T08:00:00Z","updatedAt":"2024-01-15T10:30:00Z"},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"put":{"summary":"Update document","description":"Update an existing document. Only provided fields will be updated.\n","operationId":"updateDocument","tags":["Documents"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Document identifier. Accepts either:\n- UUID format: `123e4567-e89b-12d3-a456-426614174000`\n- URL slug format: `bookings-and-meet-greets-tqQoYObGRP`\n","schema":{"type":"string"},"examples":{"uuid":{"value":"123e4567-e89b-12d3-a456-426614174000","summary":"UUID format"},"urlSlug":{"value":"bookings-and-meet-greets-tqQoYObGRP","summary":"URL slug format"}}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDocumentRequest"},"examples":{"updateTitle":{"summary":"Update document title","value":{"title":"Updated Title"}},"updateContent":{"summary":"Update document content","value":{"text":"# New Content\n\nThis is the updated content."}},"publishDocument":{"summary":"Publish a draft","value":{"publish":true}}}}}},"responses":{"200":{"description":"Document updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}},"delete":{"summary":"Delete document","description":"Delete a document. By default, the document is soft-deleted and can be restored. Use `permanent=true` to permanently delete the document.\n","operationId":"deleteDocument","tags":["Documents"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Document identifier. Accepts either:\n- UUID format: `123e4567-e89b-12d3-a456-426614174000`\n- URL slug format: `bookings-and-meet-greets-tqQoYObGRP`\n","schema":{"type":"string"},"examples":{"uuid":{"value":"123e4567-e89b-12d3-a456-426614174000","summary":"UUID format"},"urlSlug":{"value":"bookings-and-meet-greets-tqQoYObGRP","summary":"URL slug format"}}},{"name":"permanent","in":"query","description":"Whether to permanently delete the document","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Document deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDocumentResponse"},"example":{"success":true,"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/documents/{id}/move":{"post":{"summary":"Move document","description":"Move a document to a different collection or parent document. The document and all of its\nchildren will be moved to the target collection. Any existing pins from the source collection\nare automatically removed.\n","operationId":"moveDocument","tags":["Documents"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"Document ID (UUID)","schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoveDocumentRequest"},"examples":{"moveToCollection":{"summary":"Move document to another collection","value":{"collectionId":"123e4567-e89b-12d3-a456-426614174000"}},"moveUnderParent":{"summary":"Move document under a parent document","value":{"collectionId":"123e4567-e89b-12d3-a456-426614174000","parentDocumentId":"987fcdeb-51a2-43e7-b890-123456789abc"}},"moveWithIndex":{"summary":"Move document to a specific position","value":{"collectionId":"123e4567-e89b-12d3-a456-426614174000","index":0}}}}}},"responses":{"200":{"description":"Document moved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoveDocumentResponse"},"example":{"data":{"documents":[{"id":"doc-123","title":"Getting Started Guide","url":"/doc/getting-started-guide-abc123","collectionId":"123e4567-e89b-12d3-a456-426614174000"}],"collections":[{"id":"123e4567-e89b-12d3-a456-426614174000","name":"Help Articles"}]},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/documents/search":{"post":{"summary":"Search documents","description":"Search documents using semantic search. Returns relevant documents matching the query with relevance scores.\n","operationId":"searchDocuments","tags":["Documents"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchDocumentsRequest"},"examples":{"simpleSearch":{"summary":"Simple search query","value":{"query":"How do I reset my password?"}},"filteredSearch":{"summary":"Search within a specific collection","value":{"query":"API authentication","collectionId":"123e4567-e89b-12d3-a456-426614174000"}},"limitedSearch":{"summary":"Search with result limit","value":{"query":"getting started","limit":10}},"cmsOnlySearch":{"summary":"Search CMS documents only (exclude external catalogs)","value":{"query":"product features","cmsOnly":true}}}}}},"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchDocumentsResponse"},"example":{"data":[{"id":"doc-123","title":"Password Reset Guide","score":0.95,"percent":95,"chunk":"To reset your password, navigate to the login page and click 'Forgot Password'...","url":"/doc/password-reset-guide-abc123","collectionId":"col-456","isPublic":true},{"id":"doc-456","title":"Account Security","score":0.82,"percent":82,"chunk":"Keeping your account secure includes regularly updating your password...","url":"/doc/account-security-def789","collectionId":"col-456","isPublic":true}],"pagination":{"limit":10,"total":15},"query":"How do I reset my password?","timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/conversations/{conversationId}/follow-ups":{"post":{"summary":"Generate follow-up questions","description":"Generate follow-up questions for a conversation based on the most recent answer and its source documents.\n\nThis endpoint analyzes the conversation context (the original question, the AI-generated answer, and the\nsource documents) to suggest relevant follow-up questions the user might want to ask next.\n\nThe `conversationId` must reference an existing conversation that has a completed answer. If the\nconversation has no answer yet, a 422 error is returned.\n","operationId":"generateFollowUpQuestions","tags":["Conversations"],"security":[{"BearerAuth":[],"AgentKey":[]}],"parameters":[{"name":"conversationId","in":"path","required":true,"description":"Conversation ID from a previous answer generation session","schema":{"type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowUpQuestionsRequest"},"examples":{"default":{"summary":"Use default limit (3 questions)","value":{}},"customLimit":{"summary":"Request more follow-up questions","value":{"limit":5}}}}}},"responses":{"200":{"description":"Follow-up questions generated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowUpQuestionsResponse"},"example":{"data":{"followUps":["What are the security requirements for password resets?","Can I enable two-factor authentication?","How do I update my email address?"]},"timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"not_found","message":"Conversation not found","timestamp":"2024-01-15T10:30:00Z"}}}},"422":{"description":"Conversation answer is not yet available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"unprocessable_entity","message":"Conversation answer is not yet available","timestamp":"2024-01-15T10:30:00Z"}}}},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/documents/suggestion":{"post":{"summary":"Generate article suggestions","description":"Triggers the Brainfish Knowledge Discovery Agent to analyze article content and generate \nsuggestions for improving the content. Processing happens asynchronously.\n\nThe agent will analyze the provided content and create suggestions for human review. \nResults will be synced back to the platform when processing is complete:\n- **New document drafts**: If `new_article` is true, the agent will create new article drafts\n- **Article suggestions**: If `new_article` is false, the agent will suggest updates to existing documents\n\nAll suggestions require human review before being published.\n\n**Duplicate Request Prevention**: Requests with identical `content` are \ncached for 5 minutes to prevent duplicate processing. If you submit the same content \nwithin this window, a 409 Conflict response will be returned.\n\nUse the returned `task_id` to track the processing status.\n","operationId":"generateArticleSuggestion","tags":["Documents"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateArticleSuggestionRequest"},"examples":{"basic":{"summary":"Basic article suggestion request","value":{"content":"# Introduction\n\nWelcome to our platform. This guide will help you get started...","collection_id":"123e4567-e89b-12d3-a456-426614174000","new_article":false}}}}}},"responses":{"200":{"description":"Suggestion generation triggered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateArticleSuggestionResponse"},"example":{"data":{"task_id":"task-abc123","status":"processing"},"message":"Article suggestion generation has been triggered. Results will be synced when processing is complete.","timestamp":"2024-01-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"Duplicate request - same content is already being processed (cached for 5 minutes)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"conflict","message":"A similar suggestion request is already being processed. Please wait and try again.","timestamp":"2024-01-15T10:30:00Z"}}}},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/analytics/threads":{"post":{"summary":"List analytics threads","description":"List and filter conversation threads with analytics data. Returns each thread's initial question,\nsource channel, resolution status, conversation score, and pagination metadata.\n\nA date range is required. Results are ordered by creation date descending.\n","operationId":"listAnalyticsThreads","tags":["Analytics"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsThreadsRequest"},"examples":{"basicDateRange":{"summary":"Fetch threads for a date range","value":{"dateRange":{"from":1711929600000,"to":1714521600000}}},"withFilters":{"summary":"Filter by status and feedback","value":{"dateRange":{"from":1711929600000,"to":1714521600000},"status":["answered","partial"],"feedback":["negative"],"limit":20,"offset":0}}}}}},"responses":{"200":{"description":"Threads retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsThreadsResponse"},"example":{"data":[{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","question":"How do I reset my password?","source":{"name":"Help Widget","color":"#4F46E5"},"resolutionStatus":"answered","timestamp":"2024-04-01T12:00:00Z","value":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","hasAttributes":true,"conversationScore":0.85}],"pagination":{"total":142,"limit":10,"offset":0},"timestamp":"2024-04-15T10:30:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v1/sessions/search":{"post":{"summary":"Search chat sessions","description":"Search chat sessions (conversations) by query text, filters, and date range.\nReturns one result per conversation, folded by conversationId.\nA \"session\" in this context means a chat conversation (one or more user turns with the AI agent).\n","operationId":"searchSessions","tags":["Sessions"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","description":"Text to search for in user queries (case-insensitive partial match)"},"conversationId":{"type":"string","description":"Filter by exact conversation ID"},"userId":{"type":"string","format":"uuid","description":"Filter by platform user ID"},"externalUserId":{"type":"string","description":"Filter by external user ID"},"widgetIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Filter by widget/agent IDs"},"source":{"type":"string","description":"Filter by source (e.g. widget, api, help_center)"},"feedback":{"type":"string","enum":["positive","negative"],"nullable":true,"description":"Filter by feedback (null means no feedback given)"},"isAnswered":{"type":"boolean","description":"Filter by whether the query was answered"},"fromDate":{"type":"string","format":"date-time","description":"Start date (ISO 8601)"},"toDate":{"type":"string","format":"date-time","description":"End date (ISO 8601)"},"limit":{"type":"integer","minimum":1,"maximum":100,"default":20},"offset":{"type":"integer","minimum":0,"default":0},"sortOrder":{"type":"string","enum":["asc","desc"],"default":"desc"}}},"example":{"query":"refund","isAnswered":false,"fromDate":"2026-04-01T00:00:00Z","toDate":"2026-04-23T23:59:59Z","limit":20}}}},"responses":{"200":{"description":"Sessions matching the search criteria","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"conversationId":{"type":"string","nullable":true},"lastQuery":{"type":"string"},"lastQueryAt":{"type":"string","format":"date-time"},"turnCount":{"type":"integer"},"isAnswered":{"type":"boolean"},"feedback":{"type":"string","nullable":true},"userId":{"type":"string","nullable":true},"externalUserId":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"widgetId":{"type":"string","nullable":true}}}},"pagination":{"type":"object","properties":{"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/TooManyRequests"}}}},"/v1/sessions/{id}":{"get":{"summary":"Get session detail","description":"Fetch full conversation detail for a chat session: all turns (user query, AI answer, feedback)\nplus analytics metadata (session start time, start URL, linked search query IDs).\nAccepts a conversationId or searchQueryId.\n","operationId":"getSession","tags":["Sessions"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Conversation ID or search query ID"}],"responses":{"200":{"description":"Session detail with turns and analytics metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"conversationId":{"type":"string"},"teamId":{"type":"string"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"sessionId":{"type":"string","nullable":true},"startedAtUrl":{"type":"string","nullable":true},"searchQueryIds":{"type":"array","items":{"type":"string"}},"turnCount":{"type":"integer"},"turns":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"query":{"type":"string"},"rewrittenQuery":{"type":"string","nullable":true},"suggestedAnswer":{"type":"string","nullable":true},"isAnswered":{"type":"boolean"},"feedback":{"type":"string","nullable":true},"createdAt":{"type":"string","format":"date-time"}}}}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"}}}},"/v1/sessions/{id}/timeline":{"get":{"summary":"Get session event timeline","description":"Fetch the chronological analytics event timeline for a conversation. Includes page views,\nwidget interactions, search events, and chat turns with their properties map.\nThe timeline is proxied from the analytic-service.\n","operationId":"getSessionTimeline","tags":["Sessions"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Conversation ID"},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":1000,"default":200}},{"name":"includeSessionContext","in":"query","schema":{"type":"boolean","default":true},"description":"Include session-level events (screen views, widget open/close)"},{"name":"fromDate","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"toDate","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"eventNames","in":"query","schema":{"type":"string"},"description":"Comma-separated event name(s) to filter by (e.g. \"screen_view,Primary Field Search Submitted\")"},{"name":"country","in":"query","schema":{"type":"string"},"description":"Comma-separated country code(s) (e.g. \"US,CA\")"},{"name":"city","in":"query","schema":{"type":"string"},"description":"Comma-separated city name(s)"},{"name":"region","in":"query","schema":{"type":"string"},"description":"Comma-separated region/state name(s)"},{"name":"os","in":"query","schema":{"type":"string"},"description":"Comma-separated OS name(s) (e.g. \"Mac OS,Windows\")"},{"name":"browser","in":"query","schema":{"type":"string"},"description":"Comma-separated browser name(s) (e.g. \"Chrome,Safari\")"},{"name":"device","in":"query","schema":{"type":"string"},"description":"Comma-separated device type(s) (e.g. \"desktop,mobile\")"},{"name":"referrerType","in":"query","schema":{"type":"string"},"description":"Comma-separated referrer type(s) (e.g. \"search,social,direct\")"}],"responses":{"200":{"description":"Chronological event timeline","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string"},"userId":{"type":"string"},"sessionId":{"type":"string"},"widgetKey":{"type":"string"},"conversationId":{"type":"string"},"searchQueryId":{"type":"string"},"path":{"type":"string"},"origin":{"type":"string"},"properties":{"type":"object","additionalProperties":{"type":"string"}}}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/TooManyRequests"}}}},"/v1/sessions/{id}/insights":{"post":{"summary":"Generate session insights","description":"Generate a structured LLM-powered diagnosis of a chat session: root cause analysis,\nseverity, evidence, and actionable recommendations. Results are cached server-side for 24 hours.\nUse force=true to regenerate.\n","operationId":"generateSessionInsights","tags":["Sessions"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Conversation ID or search query ID"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"force":{"type":"boolean","default":false,"description":"Skip cache and regenerate insights"}}}}}},"responses":{"200":{"description":"Structured session diagnosis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"summary":{"type":"string"},"rootCause":{"type":"object","properties":{"category":{"type":"string","enum":["missing_content","retrieval_miss","hallucination","ambiguous_query","out_of_scope","user_confusion","other"]},"explanation":{"type":"string"}}},"severity":{"type":"string","enum":["low","medium","high"]},"evidence":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"ref":{"type":"string"},"quote":{"type":"string"}}}},"recommendations":{"type":"array","items":{"type":"object","properties":{"action":{"type":"string"},"rationale":{"type":"string"}}}},"metrics":{"type":"object","properties":{"turnCount":{"type":"integer"},"hadNegativeFeedback":{"type":"boolean"},"answerCoverage":{"type":"string","enum":["full","partial","none"]}}}}},"cached":{"type":"boolean"},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"}}}},"/v1/users/answer":{"post":{"summary":"Generate streaming answer","description":"Generate streaming answers for queries. This is a simplified endpoint that accepts a query\nand optional collection filters to scope which knowledge base collections are searched.\n\nUse the optional `collectionIds` array to restrict answers to specific collections the\ncaller has access to. When omitted, all available collections are searched.\n\nThe response is streamed using Server-Sent Events (SSE) format, identical to the\n`/v1/agents/answer` endpoint.\n\nFor user personalization (attribute-based collection filtering, external user tracking),\nuse the `/v1/agents/answer` endpoint with the `user` field instead.\n\n## Authentication\n\nRequires a Bearer API token. The token determines the team context and permissions.\n\n## Streaming Example\n\n```javascript\nconst response = await fetch('https://api.brainfi.sh/v1/users/answer', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer bf_api_xxxxx'\n  },\n  body: JSON.stringify({\n    query: 'How do I reset my password?',\n    collectionIds: ['collection-uuid-1', 'collection-uuid-2']\n  })\n});\n\nconst reader = response.body.getReader();\nconst decoder = new TextDecoder();\n\nwhile (true) {\n  const { done, value } = await reader.read();\n  if (done) break;\n\n  const chunk = decoder.decode(value);\n  const lines = chunk.split('\\n');\n\n  for (const line of lines) {\n    if (line.startsWith('data: ')) {\n      const event = JSON.parse(line.slice(6));\n      switch (event.type) {\n        case 'start':\n          console.log('Answer started:', event.id);\n          break;\n        case 'content':\n          process.stdout.write(event.content);\n          break;\n        case 'end':\n          console.log('\\nDone. conversationId:', event.conversationId);\n          break;\n      }\n    }\n  }\n}\n```\n","operationId":"generateUserAnswer","tags":["Users"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAnswerRequest"},"examples":{"simpleQuery":{"summary":"Simple question","value":{"query":"How do I reset my password?"}},"withCollectionFilter":{"summary":"Query scoped to specific collections","value":{"query":"How do I configure SSO?","collectionIds":["550e8400-e29b-41d4-a716-446655440000","6ba7b810-9dad-11d1-80b4-00c04fd430c8"]}},"followUpQuery":{"summary":"Follow-up in an existing conversation","value":{"query":"What if I forgot my email too?","conversationId":"01234567890123456789012345"}}}}}},"responses":{"200":{"description":"Streaming response with answer generation events","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-sent events stream containing answer generation progress"},"examples":{"streamingResponse":{"summary":"Example streaming response","value":"data: {\"type\":\"start\",\"id\":\"answer-abc123\",\"conversationId\":\"01234567890123456789012345\"}\n\ndata: {\"type\":\"progress\",\"content\":\"Searching knowledge base...\"}\n\ndata: {\"type\":\"content\",\"content\":\"To reset your password:\\n\\n1. Go to the login page\"}\n\ndata: {\"type\":\"content\",\"content\":\"\\n2. Click \\\"Forgot Password?\\\"\\n3. Enter your email address\"}\n\ndata: {\"type\":\"end\",\"id\":\"answer-abc123\",\"conversationId\":\"01234567890123456789012345\",\"complete\":true}\n"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API Token","description":"Bearer token authentication. Include your API token in the Authorization header.\n\nExample: `Authorization: Bearer bf_api_xxxxx`\n\nCreate tokens in your Brainfish dashboard under Settings → API Tokens.\n"},"AccessToken":{"type":"apiKey","in":"header","name":"access-token","description":"**Deprecated**: Use Bearer authentication instead.\n\nLegacy access token header for backward compatibility. Must start with `bf_api_`.\n\nCreate tokens in your Brainfish dashboard under Settings → API Tokens.\n"},"AgentKey":{"type":"apiKey","in":"header","name":"agent-key","description":"Agent key identifier that specifies which AI agent/widget to use for the request.\n\nFind agent keys in your Brainfish dashboard under Agents. Click on any agent key to copy it.\n"}},"schemas":{"CreateCatalogRequest":{"type":"object","required":["name","source"],"properties":{"name":{"type":"string","description":"Catalog name","minLength":1,"maxLength":255,"example":"Developer Documentation"},"source":{"type":"string","description":"Catalog source type","enum":["cms","website","zendesk","github","discovery","helpscout","readme","readmev2","oas","notion","intercom","freshdesk","helpjuice","googledrive","confluence","guru","external"],"example":"external"},"slug":{"type":"string","description":"Unique slug for this catalog (used as an external identifier)","minLength":1,"maxLength":100,"example":"dev-docs"},"configurations":{"type":"object","additionalProperties":true,"description":"Optional source-specific configuration"}}},"SyncCatalogContentRequest":{"type":"object","required":["files"],"properties":{"files":{"type":"array","minItems":1,"description":"Content files to sync","items":{"type":"object","required":["url","content","title"],"properties":{"url":{"type":"string","minLength":1,"description":"URL or path used as unique identifier within the catalog","example":"https://docs.acme.com/getting-started"},"content":{"type":"string","description":"File content (Markdown, MDX, plain text, etc.)","example":"# Getting Started\n\nWelcome to our docs..."},"title":{"type":"string","minLength":1,"description":"Content title","example":"Getting Started"}}}}}},"Catalog":{"type":"object","required":["id","name","source","status"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique catalog identifier","example":"cat-123"},"teamId":{"type":"string","format":"uuid","description":"Team ID the catalog belongs to"},"name":{"type":"string","description":"Catalog name","example":"Developer Documentation"},"source":{"type":"string","description":"Catalog source type","example":"external"},"status":{"type":"string","enum":["inprogress","completed","failed"],"description":"Current sync status","example":"completed"},"enabled":{"type":"boolean","description":"Whether the catalog is enabled","example":true},"dailySync":{"type":"boolean","description":"Whether daily sync is enabled","example":false},"configurations":{"type":"object","additionalProperties":true,"description":"Source-specific configuration (API keys are masked)"},"createdBy":{"type":"string","format":"uuid","description":"ID of the user who created the catalog"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp"},"lastSyncError":{"type":"string","nullable":true,"description":"Last sync error message, if any"}}},"CatalogWithCount":{"allOf":[{"$ref":"#/components/schemas/Catalog"},{"type":"object","properties":{"contentCount":{"type":"integer","description":"Number of content entries in the catalog","example":42}}}]},"CatalogResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"$ref":"#/components/schemas/Catalog"},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"CatalogDetailResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"$ref":"#/components/schemas/CatalogWithCount"},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"CatalogListResponse":{"type":"object","required":["data","pagination","timestamp"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CatalogWithCount"}},"pagination":{"type":"object","required":["offset","limit","total"],"properties":{"offset":{"type":"integer","example":0},"limit":{"type":"integer","example":25},"total":{"type":"integer","example":3}}},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"SyncCatalogContentResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"allOf":[{"$ref":"#/components/schemas/CatalogWithCount"},{"type":"object","properties":{"created":{"type":"integer","description":"Number of new content entries created","example":2},"updated":{"type":"integer","description":"Number of existing content entries updated","example":1},"removed":{"type":"integer","description":"Number of stale content entries removed","example":0}}}]},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"CreateCollectionRequest":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Collection name","minLength":1,"example":"Knowledge Base"},"description":{"type":"string","description":"Collection description","example":"Company knowledge base articles"},"icon":{"type":"string","description":"Collection icon (emoji or icon name)","example":"📚"},"color":{"type":"string","pattern":"^#[0-9A-Fa-f]{6}$","description":"Collection color in hex format","example":"#4E5C6E"},"permission":{"type":"string","enum":["read","read_write"],"description":"Default permission for collection members"},"sharing":{"type":"boolean","description":"Whether sharing is enabled"},"siteEnabled":{"type":"boolean","description":"Whether the collection is public on site"}}},"UpdateCollectionRequest":{"type":"object","properties":{"name":{"type":"string","description":"Collection name","minLength":1},"description":{"type":"string","description":"Collection description"},"icon":{"type":"string","description":"Collection icon (emoji or icon name)"},"color":{"type":"string","pattern":"^#[0-9A-Fa-f]{6}$","description":"Collection color in hex format"},"permission":{"type":"string","enum":["read","read_write"],"nullable":true,"description":"Default permission for collection members"},"sharing":{"type":"boolean","description":"Whether sharing is enabled"},"siteEnabled":{"type":"boolean","description":"Whether the collection is public on site"}}},"Collection":{"type":"object","required":["id","name","url"],"properties":{"id":{"type":"string","description":"Unique collection identifier","example":"col-123"},"url":{"type":"string","description":"Collection URL path","example":"/collection/knowledge-base-abc123"},"urlId":{"type":"string","description":"URL-friendly collection identifier"},"name":{"type":"string","description":"Collection name","example":"Knowledge Base"},"description":{"type":"string","description":"Collection description"},"icon":{"type":"string","description":"Collection icon"},"color":{"type":"string","description":"Collection color in hex format","example":"#4E5C6E"},"index":{"type":"string","description":"Collection sort index"},"permission":{"type":"string","enum":["read","read_write"],"nullable":true,"description":"Default permission level"},"sharing":{"type":"boolean","description":"Whether sharing is enabled"},"siteEnabled":{"type":"boolean","description":"Whether the collection is public on site"},"documents":{"type":"array","items":{"type":"object"},"description":"Document structure within the collection"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"description":"Deletion timestamp"}}},"CollectionResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"$ref":"#/components/schemas/Collection"},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"CollectionListResponse":{"type":"object","required":["data","pagination","timestamp"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Collection"}},"pagination":{"type":"object","required":["offset","limit","total"],"properties":{"offset":{"type":"integer","example":0},"limit":{"type":"integer","example":25},"total":{"type":"integer","example":10}}},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"DeleteCollectionResponse":{"type":"object","required":["success","timestamp"],"properties":{"success":{"type":"boolean","description":"Whether the deletion was successful","example":true},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"GenerateArticleSuggestionRequest":{"type":"object","required":["content"],"properties":{"content":{"type":"string","minLength":1,"description":"Full article content in Markdown format","example":"# Introduction\n\nWelcome to our platform. This guide will help you get started..."},"collection_id":{"type":"string","format":"uuid","description":"Optional collection ID where new documents will be created","example":"123e4567-e89b-12d3-a456-426614174000"},"new_article":{"type":"boolean","default":false,"description":"Whether to create a new article (true) or suggest updates to existing documents (false)","example":false}}},"GenerateArticleSuggestionResponse":{"type":"object","required":["data","message","timestamp"],"properties":{"data":{"type":"object","properties":{"task_id":{"type":"string","description":"Unique identifier for the processing task","example":"task-abc123"},"status":{"type":"string","description":"Current status of the task","example":"processing"}}},"message":{"type":"string","description":"Human-readable status message","example":"Article suggestion generation has been triggered. Results will be synced when processing is complete."},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"FollowUpQuestionsRequest":{"type":"object","properties":{"limit":{"type":"integer","minimum":1,"maximum":10,"default":3,"description":"Maximum number of follow-up questions to generate"}}},"FollowUpQuestionsResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"type":"object","required":["followUps"],"properties":{"followUps":{"type":"array","items":{"type":"string"},"description":"List of suggested follow-up questions","example":["What are the security requirements for password resets?","Can I enable two-factor authentication?","How do I update my email address?"]}}},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"CreateDocumentRequest":{"type":"object","properties":{"title":{"type":"string","description":"Document title","default":"","example":"Getting Started Guide"},"text":{"type":"string","description":"Document content in Markdown format","default":"","example":"# Introduction\n\nWelcome to our platform..."},"collectionId":{"type":"string","format":"uuid","description":"Collection ID to create the document in","example":"123e4567-e89b-12d3-a456-426614174000"},"parentDocumentId":{"type":"string","format":"uuid","nullable":true,"description":"Parent document ID for nested documents"},"publish":{"type":"boolean","description":"Whether to publish the document immediately","example":true},"template":{"type":"boolean","description":"Whether this document is a template","example":false},"templateId":{"type":"string","format":"uuid","description":"Template ID to use for creating the document"}}},"UpdateDocumentRequest":{"type":"object","properties":{"title":{"type":"string","description":"Document title","example":"Updated Title"},"text":{"type":"string","description":"Document content in Markdown format","example":"# Updated Content\n\nNew content here..."},"publish":{"type":"boolean","description":"Whether to publish the document"},"fullWidth":{"type":"boolean","description":"Whether the document should display in full width"},"collectionId":{"type":"string","format":"uuid","description":"Collection ID to move the document to"},"siteEnabled":{"type":"boolean","description":"Whether the document should be public on the site"}}},"Document":{"type":"object","required":["id","title","url"],"properties":{"id":{"type":"string","description":"Unique document identifier","example":"doc-123"},"url":{"type":"string","description":"Document URL path","example":"/doc/getting-started-guide-abc123"},"urlId":{"type":"string","description":"URL-friendly document identifier","example":"abc123"},"title":{"type":"string","description":"Document title","example":"Getting Started Guide"},"text":{"type":"string","description":"Document content in Markdown format","example":"# Welcome\n\nThis guide helps you get started..."},"summary":{"type":"string","description":"Auto-generated summary of the document","example":"Welcome. This guide helps you get started..."},"revision":{"type":"integer","description":"Document revision count","example":5},"collectionId":{"type":"string","format":"uuid","description":"Collection ID the document belongs to"},"parentDocumentId":{"type":"string","format":"uuid","nullable":true,"description":"Parent document ID if nested"},"template":{"type":"boolean","description":"Whether this is a template document"},"templateId":{"type":"string","format":"uuid","nullable":true,"description":"Template ID used to create this document"},"fullWidth":{"type":"boolean","description":"Whether the document displays in full width"},"siteEnabled":{"type":"boolean","description":"Whether the document is public on the site"},"teamId":{"type":"string","format":"uuid","description":"Team ID the document belongs to"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp"},"publishedAt":{"type":"string","format":"date-time","nullable":true,"description":"Publication timestamp"},"archivedAt":{"type":"string","format":"date-time","nullable":true,"description":"Archive timestamp"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"description":"Deletion timestamp"},"createdBy":{"$ref":"#/components/schemas/UserSummary"},"updatedBy":{"$ref":"#/components/schemas/UserSummary"}}},"UserSummary":{"type":"object","properties":{"id":{"type":"string","description":"User ID"},"name":{"type":"string","description":"User's full name"},"avatarUrl":{"type":"string","description":"User's avatar URL"}}},"DocumentDetail":{"type":"object","description":"Full document representation with text content","required":["id","url","urlId","title","text"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique document identifier","example":"30ba6c51-5f9d-4d8d-be10-783f7af1c9af"},"url":{"type":"string","description":"Document URL path","example":"/doc/getting-started-guide-fKhbRGBXj6"},"urlId":{"type":"string","description":"URL-friendly document identifier (10 characters)","example":"fKhbRGBXj6"},"title":{"type":"string","description":"Document title","example":"Getting Started Guide"},"text":{"type":"string","description":"Document content in Markdown format","example":"# Getting Started\n\nWelcome to our platform..."},"summary":{"type":"string","description":"Auto-generated summary of the document","example":"This guide helps you get started..."},"tasks":{"type":"object","properties":{"completed":{"type":"integer","description":"Number of completed tasks","example":0},"total":{"type":"integer","description":"Total number of tasks","example":0}}},"index":{"type":"string","description":"Document sort index","example":"P0"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp"},"createdBy":{"type":"string","nullable":true,"description":"ID of the user who created the document","example":"user-123"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp"},"updatedBy":{"type":"string","nullable":true,"description":"ID of the user who last updated the document","example":"user-123"},"publishedAt":{"type":"string","format":"date-time","nullable":true,"description":"Publication timestamp"},"archivedAt":{"type":"string","format":"date-time","nullable":true,"description":"Archive timestamp"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"description":"Deletion timestamp"},"teamId":{"type":"string","format":"uuid","description":"Team ID the document belongs to"},"collectionId":{"type":"string","format":"uuid","description":"Collection ID the document belongs to"},"parentDocumentId":{"type":"string","format":"uuid","nullable":true,"description":"Parent document ID if nested"},"revision":{"type":"integer","description":"Document revision count","example":5},"isPublic":{"type":"boolean","description":"Whether the document is publicly accessible on the site","example":true},"hasPendingSuggestion":{"type":"boolean","description":"Whether the document has a pending suggestion awaiting review","example":false}}},"DocumentResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"$ref":"#/components/schemas/DocumentDetail"},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"DocumentListItem":{"type":"object","description":"Simplified document representation for list endpoints","required":["id","url","urlId","title"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique document identifier","example":"30ba6c51-5f9d-4d8d-be10-783f7af1c9af"},"url":{"type":"string","description":"Document URL path","example":"/doc/getting-started-guide-fKhbRGBXj6"},"urlId":{"type":"string","description":"URL-friendly document identifier (10 characters)","example":"fKhbRGBXj6"},"title":{"type":"string","description":"Document title","example":"Getting Started Guide"},"summary":{"type":"string","description":"Auto-generated summary of the document","example":"This guide helps you get started..."},"tasks":{"type":"object","properties":{"completed":{"type":"integer","description":"Number of completed tasks","example":0},"total":{"type":"integer","description":"Total number of tasks","example":0}}},"index":{"type":"string","description":"Document sort index","example":"P0"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp"},"createdBy":{"type":"string","nullable":true,"description":"ID of the user who created the document","example":"user-123"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp"},"updatedBy":{"type":"string","nullable":true,"description":"ID of the user who last updated the document","example":"user-123"},"publishedAt":{"type":"string","format":"date-time","nullable":true,"description":"Publication timestamp"},"archivedAt":{"type":"string","format":"date-time","nullable":true,"description":"Archive timestamp"},"deletedAt":{"type":"string","format":"date-time","nullable":true,"description":"Deletion timestamp"},"teamId":{"type":"string","format":"uuid","description":"Team ID the document belongs to"},"collectionId":{"type":"string","format":"uuid","description":"Collection ID the document belongs to"},"revision":{"type":"integer","description":"Document revision count","example":5},"isPublic":{"type":"boolean","description":"Whether the document is publicly accessible on the site","example":true},"hasPendingSuggestion":{"type":"boolean","description":"Whether the document has a pending suggestion awaiting review","example":false}}},"DocumentListResponse":{"type":"object","required":["data","pagination","timestamp"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DocumentListItem"}},"pagination":{"type":"object","required":["offset","limit","total"],"properties":{"offset":{"type":"integer","description":"Current offset","example":0},"limit":{"type":"integer","description":"Maximum results per page","example":25},"total":{"type":"integer","description":"Total number of results","example":42}}},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"DeleteDocumentResponse":{"type":"object","required":["success","timestamp"],"properties":{"success":{"type":"boolean","description":"Whether the deletion was successful","example":true},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"MoveDocumentRequest":{"type":"object","required":["collectionId"],"properties":{"collectionId":{"type":"string","format":"uuid","description":"Target collection ID to move the document into"},"parentDocumentId":{"type":"string","format":"uuid","nullable":true,"description":"Optional parent document ID within the target collection"},"index":{"type":"integer","minimum":0,"description":"Position index among siblings (0-based). If omitted, the document is placed at the end."}}},"MoveDocumentResponse":{"type":"object","required":["data","timestamp"],"properties":{"data":{"type":"object","required":["documents","collections"],"properties":{"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"},"description":"The moved document and any child documents whose collection changed"},"collections":{"type":"array","items":{"$ref":"#/components/schemas/CollectionListItem"},"description":"The source and/or target collections affected by the move"}}},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"SearchDocumentsRequest":{"type":"object","required":["query"],"properties":{"query":{"type":"string","description":"Search query string","minLength":1,"example":"How do I reset my password?"},"collectionId":{"type":"string","format":"uuid","description":"Filter by collection ID"},"collectionIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Filter by multiple collection IDs"},"dateFilter":{"type":"string","enum":["day","week","month","year"],"description":"Filter by date range"},"limit":{"type":"integer","minimum":1,"maximum":25,"default":10,"description":"Maximum number of results to return (semantic search does not support offset-based pagination)"},"cmsOnly":{"type":"boolean","default":false,"description":"Only include CMS documents (exclude external catalog content like Confluence, Notion, etc.)"}}},"SearchResult":{"type":"object","properties":{"id":{"type":"string","description":"Document ID","example":"doc-123"},"title":{"type":"string","description":"Document title","example":"Password Reset Guide"},"score":{"type":"number","description":"Relevance score (0-1)","example":0.95},"percent":{"type":"integer","description":"Relevance score as percentage (0-100)","example":95},"chunk":{"type":"string","description":"Relevant text snippet from the document","example":"To reset your password, navigate to the login page..."},"url":{"type":"string","description":"Document URL path","example":"/doc/password-reset-guide-abc123"},"collectionId":{"type":"string","format":"uuid","description":"Collection ID the document belongs to"},"isPublic":{"type":"boolean","description":"Whether the document is publicly accessible"},"lastUpdated":{"type":"string","format":"date-time","description":"Last update timestamp"}}},"SearchDocumentsResponse":{"type":"object","required":["data","pagination","query","timestamp"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"pagination":{"type":"object","description":"Pagination info (note - semantic search does not support offset-based pagination)","required":["limit","total"],"properties":{"limit":{"type":"integer","description":"Maximum results per page","example":10},"total":{"type":"integer","description":"Total number of results","example":15}}},"query":{"type":"string","description":"The processed search query (may be rewritten for better results)","example":"How do I reset my password?"},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"UserAnswerRequest":{"type":"object","required":["query"],"properties":{"query":{"type":"string","description":"The query string to generate an answer for","minLength":1,"example":"How do I reset my password?"},"conversationId":{"type":"string","description":"Optional conversation ID for maintaining context across multiple queries.\nOmit for the first request; use the conversationId from the previous response for follow-ups.\n","pattern":"^[0-9a-z]{25}$"},"stream":{"type":"boolean","default":true,"description":"Whether to stream the response via SSE"},"collectionIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Optional array of collection IDs to restrict which knowledge base collections are\nsearched. When omitted, all available collections are searched.\n"},"channelType":{"type":"string","enum":["email","whatsapp","slack","msteams"],"description":"Optional channel type for context"},"attachments":{"type":"array","maxItems":10,"items":{"type":"object","required":["type","url"],"properties":{"type":{"type":"string","enum":["image"]},"url":{"type":"string","format":"uri"}}},"description":"Optional image attachments (max 10)"}}},"AnswerRequest":{"type":"object","required":["query"],"properties":{"query":{"type":"string","description":"The query string to generate an answer for","minLength":1,"maxLength":2000,"example":"How to reset my password?"},"conversationId":{"type":"string","description":"Optional conversation ID for maintaining context across multiple queries.\nThis should be omitted for the first request and then provided in subsequent\nrequests using the conversationId returned from the previous response.\n","pattern":"^[0-9a-z]{25}$","example":"01234567890123456789012345"},"stream":{"type":"boolean","default":true,"description":"Whether to stream the response via Server-Sent Events (SSE). When `true` (default),\nthe response is streamed as SSE events. When `false`, the full answer is returned\nas a single JSON response.\n"},"user":{"type":"object","description":"Optional external user identification for personalization. When provided, the user\nrecord is upserted and their attributes are used to filter collections and tailor\nanswers. At least one of `userId`, `email`, or `phone` is required within this object.\n","properties":{"userId":{"type":"string","description":"External user ID from your system"},"email":{"type":"string","format":"email","description":"User email address"},"phone":{"type":"string","description":"User phone number"},"firstName":{"type":"string","description":"User first name"},"lastName":{"type":"string","description":"User last name"},"properties":{"type":"object","additionalProperties":true,"description":"Custom key-value properties for personalization (e.g. plan, region)"}}},"filter":{"type":"object","description":"Optional collection filter for this public endpoint.","properties":{"collectionIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Collection IDs to include in the answer search scope."}}},"channelType":{"type":"string","enum":["email","whatsapp","slack","msteams"],"description":"Optional channel type for context"},"attachments":{"type":"array","maxItems":10,"items":{"type":"object","required":["type","url"],"properties":{"type":{"type":"string","enum":["image"]},"url":{"type":"string","format":"uri"}}},"description":"Optional image attachments (max 10)"}}},"StreamingEvent":{"type":"object","description":"Server-sent event data structure","discriminator":{"propertyName":"type"},"required":["type"],"properties":{"type":{"type":"string","description":"The type of streaming event","enum":["start","progress","content","end"]}},"oneOf":[{"$ref":"#/components/schemas/StartEvent"},{"$ref":"#/components/schemas/ProgressEvent"},{"$ref":"#/components/schemas/ContentEvent"},{"$ref":"#/components/schemas/EndEvent"}]},"StartEvent":{"allOf":[{"$ref":"#/components/schemas/StreamingEvent"},{"type":"object","properties":{"type":{"type":"string","enum":["start"]},"id":{"type":"string","description":"Unique identifier for this answer generation session","example":"answer-abc123"},"conversationId":{"type":"string","description":"Conversation ID for this session (if provided in request)","example":"01234567890123456789012345"}}}]},"ProgressEvent":{"allOf":[{"$ref":"#/components/schemas/StreamingEvent"},{"type":"object","properties":{"type":{"type":"string","enum":["progress"]},"content":{"type":"string","description":"Progress message indicating current processing status","example":"Searching knowledge base for password reset information..."}}}]},"ContentEvent":{"allOf":[{"$ref":"#/components/schemas/StreamingEvent"},{"type":"object","properties":{"type":{"type":"string","enum":["content"]},"content":{"type":"string","description":"Partial answer content being streamed","example":"To reset your password:\n\n1. Go to the login page"}}}]},"EndEvent":{"allOf":[{"$ref":"#/components/schemas/StreamingEvent"},{"type":"object","properties":{"type":{"type":"string","enum":["end"]},"id":{"type":"string","description":"Unique identifier for this answer generation session","example":"answer-abc123"},"conversationId":{"type":"string","description":"Conversation ID for this session (use in follow-up requests)","example":"01234567890123456789012345"},"complete":{"type":"boolean","description":"Indicates whether the answer generation completed successfully","example":true}}}]},"TokenValidationResponse":{"type":"object","required":["valid","user","timestamp"],"properties":{"valid":{"type":"boolean","description":"Indicates if the token is valid","example":true},"user":{"type":"object","description":"User information associated with the token","required":["id","name","email","teamId"],"properties":{"id":{"type":"string","description":"User ID","example":"user-123"},"name":{"type":"string","description":"User's full name","example":"John Doe"},"email":{"type":"string","format":"email","description":"User's email address","example":"john@example.com"},"teamId":{"type":"string","description":"Team ID the user belongs to","example":"team-456"},"teamName":{"type":"string","description":"Team name","example":"Acme Corp"}}},"timestamp":{"type":"string","format":"date-time","description":"Validation timestamp","example":"2024-01-15T10:30:00Z"}}},"TokenRevokeResponse":{"type":"object","required":["success","message","timestamp"],"properties":{"success":{"type":"boolean","description":"Indicates if the token was successfully revoked","example":true},"message":{"type":"string","description":"Confirmation message","example":"Access token has been revoked successfully"},"timestamp":{"type":"string","format":"date-time","description":"Revocation timestamp","example":"2024-01-15T10:30:00Z"}}},"Error":{"type":"object","required":["error","message"],"properties":{"error":{"type":"string","description":"Error type or code"},"message":{"type":"string","description":"Human-readable error message"},"details":{"type":"object","additionalProperties":true,"description":"Additional error details"},"timestamp":{"type":"string","format":"date-time","description":"Error timestamp"},"requestId":{"type":"string","description":"Unique request identifier for debugging"}}},"AnalyticsThreadsRequest":{"type":"object","required":["dateRange"],"properties":{"dateRange":{"type":"object","required":["from","to"],"properties":{"from":{"type":"number","description":"Start date as Unix timestamp in milliseconds","example":1711929600000},"to":{"type":"number","description":"End date as Unix timestamp in milliseconds","example":1714521600000}}},"limit":{"type":"integer","minimum":1,"maximum":100,"default":10,"description":"Number of threads to return"},"offset":{"type":"integer","minimum":0,"default":0,"description":"Pagination offset"},"sources":{"type":"array","items":{"type":"string"},"description":"Filter by channel keys (source identifiers)"},"status":{"type":"array","items":{"type":"string","enum":["answered","partial","unable_to_help","technical_issue","skipped"]},"description":"Filter by resolution status"},"feedback":{"type":"array","items":{"type":"string","enum":["positive","negative"]},"description":"Filter by user feedback type"},"searchQuery":{"type":"string","description":"Search within user messages across threads"},"actions":{"type":"array","items":{"type":"string"},"description":"Filter by action types"}}},"AnalyticsThread":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Thread ID"},"question":{"type":"string","description":"First user message in the thread"},"source":{"type":"object","properties":{"name":{"type":"string","description":"Channel name"},"color":{"type":"string","description":"Channel display colour"}}},"resolutionStatus":{"type":"string","nullable":true,"enum":["answered","partial","unable_to_help","technical_issue","skipped"],"description":"Thread resolution status"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the first user message"},"value":{"type":"string","description":"Thread ID (alias)"},"hasAttributes":{"type":"boolean","description":"Whether the thread has user attributes"},"conversationScore":{"type":"number","nullable":true,"description":"AI-computed conversation quality score"}}},"AnalyticsThreadsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsThread"}},"pagination":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of matching threads"},"limit":{"type":"integer","description":"Page size"},"offset":{"type":"integer","description":"Current offset"}}},"timestamp":{"type":"string","format":"date-time","description":"Response timestamp"}}},"ValidationError":{"allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"validationErrors":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"Field that failed validation"},"message":{"type":"string","description":"Validation error message"},"code":{"type":"string","description":"Validation error code"}}}}}}]}},"responses":{"Unauthorized":{"description":"Authentication required or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missingToken":{"summary":"Missing authentication token","value":{"error":"authentication_required","message":"Authentication required. Use Authorization: Bearer <token> header","timestamp":"2024-01-15T10:30:00Z","requestId":"req-abc123"}},"missingAgentKey":{"summary":"Missing agent key","value":{"error":"authentication_required","message":"Agent key is required","timestamp":"2024-01-15T10:30:00Z","requestId":"req-def456"}},"invalidCredentials":{"summary":"Invalid credentials","value":{"error":"authentication_required","message":"Invalid or missing authentication credentials","timestamp":"2024-01-15T10:30:00Z","requestId":"req-ghi789"}}}}}},"NotFound":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"not_found","message":"Document not found","timestamp":"2024-01-15T10:30:00Z","requestId":"req-notfound123"}}}},"UnprocessableEntity":{"description":"Invalid request format or unknown message type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"},"examples":{"emptyQuery":{"summary":"Empty query validation error","value":{"error":"validation_failed","message":"Request validation failed","validationErrors":[{"field":"query","message":"Query cannot be empty","code":"invalid_string"}],"timestamp":"2024-01-15T10:30:00Z","requestId":"req-val123"}},"invalidConversationId":{"summary":"Invalid conversation ID format","value":{"error":"validation_failed","message":"Request validation failed","validationErrors":[{"field":"conversationId","message":"Invalid conversation ID format","code":"invalid_string"}],"timestamp":"2024-01-15T10:30:00Z","requestId":"req-val456"}},"queryTooLong":{"summary":"Query exceeds maximum length","value":{"error":"validation_failed","message":"Request validation failed","validationErrors":[{"field":"query","message":"Query must be 2000 characters or less","code":"too_big"}],"timestamp":"2024-01-15T10:30:00Z","requestId":"req-val789"}}}}}},"TooManyRequests":{"description":"Rate limit exceeded","headers":{"X-RateLimit-Limit":{"schema":{"type":"integer"},"description":"Request limit per time window"},"X-RateLimit-Remaining":{"schema":{"type":"integer"},"description":"Remaining requests in current window"},"X-RateLimit-Reset":{"schema":{"type":"integer"},"description":"Time when rate limit resets (Unix timestamp)"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"rate_limit_exceeded","message":"Too many requests. Rate limit: 25 requests per minute","timestamp":"2024-01-15T10:30:00Z"}}}},"InternalServerError":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"internal_error","message":"An unexpected error occurred","requestId":"req-abc123","timestamp":"2024-01-15T10:30:00Z"}}}}}},"tags":[{"name":"Authentication","description":"Authentication and token validation operations"},{"name":"Agents","description":"AI agent operations for answer generation and streaming"},{"name":"Analytics","description":"Conversation thread analytics with filtering and pagination"},{"name":"Catalogs","description":"Catalog management operations. Create catalogs and sync content programmatically via the API."},{"name":"Collections","description":"Collection management operations including create, read, update, list, and delete"},{"name":"Conversations","description":"Conversation operations including follow-up question generation"},{"name":"Documents","description":"Document management operations including create, read, update, list, and delete"},{"name":"Sessions","description":"Chat session search, detail, timeline, and AI-powered insights. A \"session\" is a chat conversation keyed by conversationId."},{"name":"Users","description":"User-scoped operations. Generate answers personalized to a specific external/platform user with automatic attribute-based collection filtering."}],"status":200,"ok":true}